.tmbd {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  &__header {
    &-items {
      gap: 50px;
      color: rgb(183, 179, 179);
    }

    &-link {
      color: rgb(183, 179, 179);
      &:hover {
        color: white;
      }
    }

    &-search {
      > input{
        border-radius: 8px 8px 8px 8px;
        border: none;
      }
      >i{
        fill: aqua;
      }
    }
  }

  &__footer {
    gap: 100px;
    background-color: rgb(1, 1, 16);
    color: rgb(164, 161, 161);
    width: 100%;
    // height: auto;
    // margin: 0px 100px 0px 100px;
  }
}

.tmbd-header {
  &__image {
    > img {
      border-radius: 16px;
      box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.7);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      &:hover {
        transform: scale(1.2);
        box-shadow: 0px 0px 15px rgb(180, 213, 13);
      }
    }
  }
}
.tmbd-footer {
  &__details {
    h3 {
      &:hover {
        color: white;
      }
    }
    a {
      text-decoration: none;
      color: rgb(114, 111, 111);

      &:hover {
        color: white;
      }
    }
  }
}
